body {
    background-color:bisque;
}

.start {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    color: darkblue;
}

.mi-foto {
    border: 5px solid darkblue;
    width: 150px;
    border-radius: 50%;
}